= form_for @maze_form, url: maze_boards_path, html: {class: 'form-horizontal' } do |f|
  %fieldset
    %legend
      Create a Maze
  .form-group

    = f.label :width, class: 'col-sm-2 control-label'
    .col-sm-2
      = f.number_field :width, class: 'form-control'

  .form-group
    = f.label :height, class: 'col-sm-2 control-label'
    .col-sm-2
      = f.number_field :height, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Create', class: 'btn btn-primary'
